[submodule "extras"]
	path = extras
	url = https://github.com/pret/pokemon-reverse-engineering-tools
[submodule "crowdmap"]
	path = crowdmap
	url = https://github.com/yenatch/crowdmap
[submodule "cmdpack"]
	path = cmdpack
	url = https://github.com/Tatsh/cmdpack
